<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-class>controller.userController</servlet-class>
        <servlet-name>userController</servlet-name>
    </servlet>
    
    <servlet>
        <servlet-class>controller.noteController</servlet-class>
        <servlet-name>oi</servlet-name>
    </servlet>
    <servlet>
        <servlet-class>controller.adminController</servlet-class>
        <servlet-name>adminController</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>oi</servlet-name>
        <url-pattern>*.yc</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>*.ac</url-pattern>
    </servlet-mapping>


</web-app>